
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <div class="title-container">
                <h2 class="title">List of Users</h2>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i = index">
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <div>
                                    <input type="number" [(ngModel)]="banDurations[i].duration" placeholder="Ban Duration (days)">
                                    <button (click)="banUser(user.email, banDurations[i].duration)">Ban User</button>
                                </div>
                            </td>
                        </tr>                
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Popup -->
    <div class="popup" *ngIf="showPopup">
        <div class="popup-content">
            <p>{{ popupMessage }}</p>
            <button class="close-button" (click)="closePopup()">Close</button>
        </div>
    </div>

  
</body>

