@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
body {
    font-family: 'Calibri', sans-serif !important;
}
.circle-button {
    border-radius: 50%; /* Pour arrondir le bouton et le rendre circulaire */
    width: 40px; /* Ajustez la taille selon vos besoins */
    height: 40px; /* Ajustez la taille selon vos besoins */
    border: none; /* Pour supprimer les bordures */
    cursor: pointer; /* Pour montrer qu'il s'agit d'un élément cliquable */
    background-color: #3633CD;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-icon {
    color: white; /* Couleur de l'icône de la flèche */
  }
  
  .circle-button i {
    margin-top: 10px; /* Ajustez la position verticale de l'icône si nécessaire */
    margin-left: 5px; /* Ajustez la position horizontale de l'icône si nécessaire */
  }

.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}
button{
    background-color: #3633CD;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
}
.comment-text:hover{
    visibility: hidden;
}
.comment-text:hover{
    visibility: visible;
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}

.round img {
    border-radius: 100%;
}

.label-info {
    background-color: #1976d2;
}

.label-success {
    background-color: green;
}

.label-danger {
    background-color: #ef5350;
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

.action-icons a:hover {
    color: #1976d2;
}

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}