<br>
<div class="col-2 text-right">
  <button  class="circle-button" routerLink="/affichage">
    <i class="fa fa-arrow-left arrow-icon " aria-hidden="true"></i>
  </button>
  </div>

<div class="text-center">
  <h2>List of Feedbacks and Scores</h2>
</div>

<!-- Search Form -->
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="container mt-4">
  <div class="form-row">
    <div class="form-group col-md-2">
      <input type="number" formControlName="techniqueScore" id="techniqueScore" class="form-control form-control-sm" placeholder="Technique" (input)="searchFeedbacks()">
    </div>
    <div class="form-group col-md-2">
      <input type="number" formControlName="creativeScore" id="creativeScore" class="form-control form-control-sm" placeholder="Creative" (input)="searchFeedbacks()">
    </div>
    <div class="form-group col-md-2">
      <input type="number" formControlName="presentationScore" id="presentationScore" class="form-control form-control-sm" placeholder="Presentation"  (input)="searchFeedbacks()">
    </div>
    <div class="form-group col-md-2">
      <input type="number" formControlName="finaleScore" id="finaleScore" class="form-control form-control-sm" placeholder="Finale"  (input)="searchFeedbacks()">
    </div>
  
    
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="text" formControlName="feedback" id="feedback" class="form-control form-control-sm" placeholder="Feedback"  (input)="searchFeedbacks()">
    </div>
    <div class="form-group col-md-4">
      <select formControlName="state" id="state" class="form-control form-control-sm" (input)="searchFeedbacks()">
        <option value="">Select State</option>
        <option value="PENDING">PENDING</option>
        <option value="REJECTED">REJECTED</option>
        <option value="APPROVED">APPROVED</option>
      </select>
    </div>
  
  </div>
</form>

<!-- Table -->
<div class="container mt-4">
  <table class="table feedback-table" id="table-data" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Technique</th>
        <th scope="col">Creativity</th>
        <th scope="col">Presentation</th>
        <th scope="col">Results</th>
        <th scope="col" width="230">Feedback</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{ data.technique_score }}</td>
        <td>{{ data.creative_score }}</td>
        <td>{{ data.presentation_score }}</td>
        <td>{{ data.finale_score }}</td>
        <td>{{ data.feedback }}</td>

        <td><span class="badge badge-info">{{ data.state }}</span></td> 

      </tr>
      <tr *ngFor="let feedback of top3Feedbacks">    
        <td>{{ feedback.technique_score }}</td>
        <td>{{ feedback.creative_score }}</td>
        <td>{{ feedback.presentation_score }}</td>
        <td>{{ feedback.finale_score }}</td>
        <td>{{ feedback.feedback }}</td>
        <td><span class="badge badge-info">{{ feedback.state }}</span></td> </tr>


    
      <tr *ngFor="let feedback of feedbacks">
        <td>{{ feedback.technique_score }}</td>
        <td>{{ feedback.creative_score }}</td>
        <td>{{ feedback.presentation_score }}</td>
        <td>{{ feedback.finale_score }}</td>
        <td>{{ feedback.feedback }}</td>
        <td><span class="badge badge-info">{{ feedback.state }}</span></td>
      </tr>
    </tbody>
  </table>

</div>





<!-- File input and buttons -->
<div class="container mt-4">
  <input type="file" (change)="ReadExcel($event)"accept="*">
  <button (click)="excelExport()" class="btn btn-primary">
    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel Export
  </button>
  <button (click)="generatePDF()" class="btn btn-danger">
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generate PDF
  </button>
</div>

<!-- Top feedbacks buttons -->
<div class="container mt-4">
  <button class="btn btn-primary top-feedbacks-button mr-2" (click)="loadTop10Feedbacks()">
    <i class="fa fa-star" aria-hidden="true"></i> Top 10 Feedbacks
  </button>
  <button class="btn btn-primary top-feedbacks-button" (click)="loadTop3Feedbacks()">
    <i class="fa fa-star" aria-hidden="true"></i> Top 3 Feedbacks
  </button>
</div>