
<!-- Tout les fichiers CSS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap">
<link rel="stylesheet" href="/assets/FrontOffice/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/FrontOffice/assets/css/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/FrontOffice/assets/css/templatemo-festava-live.css">

<app-headerfront></app-headerfront>      
<app-navbarcomponentfront></app-navbarcomponentfront> 








<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
      <div *ngIf="!mfaRes" class="card">
          <div class="card-header d-flex justify-content-center p-4">
              <h5 class="card-title">Sign Up</h5>
          </div>
          <div class="card-body">
              <form [formGroup]="registerForm">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="username">Username</span>
                  <input type="text" class="form-control" formControlName="username"  placeholder="username" aria-label="username" aria-describedby="firstname">
              </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="firstname">First Name</span>
                      <input type="text" class="form-control" formControlName="firstname"  placeholder="firstname" aria-label="firstname" aria-describedby="firstname">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="lastName">Last Name</span>
                      <input type="text" class="form-control" formControlName="lastname"  placeholder="Last name" aria-label="Last name" aria-describedby="lastName">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="email">E-Mail</span>
                      <input type="text" class="form-control" formControlName="email"  placeholder="Email" aria-label="Email" aria-describedby="email">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="paswd">Password</span>
                      <input type="paswd" class="form-control" formControlName="paswd"  placeholder="paswd" aria-label="paswd" aria-describedby="password">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="phonenumber">Phone Number</span>
                      <input type="tel" class="form-control" formControlName="phonenumber"  placeholder="Phone Number" aria-label="Phone Number" aria-describedby="phonenumber">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="podepostal">Postal Code</span>
                      <input type="text" class="form-control" formControlName="podepostal"  placeholder="Postal Code" aria-label="Postal Code" aria-describedby="podepostal">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="commune">Commune</span>
                      <input type="text" class="form-control" formControlName="commune"  placeholder="Commune" aria-label="Commune" aria-describedby="commune">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="language">Language</span>
                      <input type="text" class="form-control" formControlName="language"  placeholder="Language" aria-label="Language" aria-describedby="language">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="expertise">Expertise</span>
                      <input type="text" class="form-control" formControlName="expertise"  placeholder="Expertise" aria-label="Expertise" aria-describedby="expertise">
                  </div>
                  <div class="form-group">
                    <label for="role">Role</label>
                    <select formControlName="role" class="form-control" id="role" required>
                      <option *ngFor="let role of roleTypes" [value]="role">{{ role }}</option>
                    </select>
                  </div>
                  
                
                  <div class="form-check form-switch">
                      <input class="form-check-input" formControlName="enableMfa"  type="checkbox" role="switch" id="mfa" checked>
                      <label class="form-check-label" for="mfa">Multi-Factor Authentication</label>
                  </div>
                  <div class="d-flex justify-content-center p-2">
                      <button type="button" [disabled]="!registerForm.valid" class="btn btn-primary" (click)="register()">Register
                          <div class="spinner-border text-secondary" *ngIf="isLoading" role="status">
                              <span class="visually-hidden">Loading...</span>
                          </div>
                      </button>
                  </div>
              </form>
          </div>
          <div class="card-footer d-flex justify-content-center p-4">
              <a routerLink="/login" class="card-link">Already have an account?</a>
          </div>
      </div>
      <div *ngIf="mfaRes">
          <app-display-qr  [qrCode]="mfaRes.qrCode" [qrCodeKey]="mfaRes.mfaCode" [username]="this.registerForm.controls['username'].value"></app-display-qr>
      </div>
  </div>
</div>



    
    
    
    
      

<app-footerfront></app-footerfront>

<!-- Tout les fichiers JavaScript -->
<script src="/assets/FrontOffice/assets/js/jquery.min.js"></script>
<script src="/assets/FrontOffice/assets/js/bootstrap.min.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.sticky.js"></script>
<script src="/assets/FrontOffice/assets/js/click-scroll.js"></script>
<script src="/assets/FrontOffice/assets/js/custom.js"></script>