<div class="container">
  <h2>Add Transport</h2>
  <form [formGroup]="transportForm" (ngSubmit)="addTransport()">
    <div class="form-group">
      <label for="route">Route:</label>
      <input type="text" class="form-control" id="route" formControlName="route" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" formControlName="description" required>
    </div>
    <div class="form-group">
      <label for="startLocation_longitude">Start Location longitude :</label>
      <input type="text" class="form-control" id="startLocation_longitude" formControlName="startLocation_longitude" required>
    </div>
    <div class="form-group">
      <label for="startLocation_latitude">Start Location latitude :</label>
      <input type="text" class="form-control" id="startLocation_latitude" formControlName="startLocation_latitude" required>
    </div>

    <div class="form-group">
      <label for="endLocation_longitude">End Location longitude:</label>
      <input type="text" class="form-control" id="endLocation_longitude" formControlName="endLocation_longitude" required>
    </div>

    <div class="form-group">
      <label for="endLocation_latitude">End Location latitude:</label>
      <input type="text" class="form-control" id="endLocation_latitude" formControlName="endLocation_latitude" required>
    </div>

    <div>
      <label for="logisticSelect">Sélectionnez une logistique :</label>
      <select id="logisticSelect" formControlName="id_logistic">
        <option *ngFor="let logistic of logistics" [value]="logistic.id_logistic">{{logistic.id_logistic}}</option>
      </select>
     </div>
    
     
      <div class="row">
      <div class="col-md-6 text-left">
        <button routerLink="/admin/listtransport" class="btn btn-secondary mt-2">Cancel</button>
      </div>
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
