<div class="container">
    <h2 class="title">All Dancers Groups</h2>

<table>
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Group Description</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
        <td>{{ group.groupName }}</td>
        <td>{{ group.groupDescription }}</td>
        <td>{{ group.members }}</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
  </mat-paginator>
  <div class="buttons">
    <button routerLink="/admin/dashboarddg" class="back-button">Back to Dashboard</button>
    <button class="export-button" (click)="exportToExcel()">Export to Excel</button>
  </div>
</div>

  