<div>
  <h2>Participations List</h2>
  <div class="mat-elevation-z8">
   Enter Participant Code <input type="text" placeholder="Search by Code" [(ngModel)]="searchParticipantCode" (ngModelChange)="filterParticipations()">
    <br>
    <button mat-raised-button (click)="openForm()">Add Participation</button>

   <table>
      <thead>
        <tr>

          <th>Status</th>
          <th>Expiration Date</th>
          <th>Showtime</th>
          <th>Participant Code</th>
          <th>Notes</th>

          <th>Total Votes <button mat-icon-button class="sort-button" (click)="toggleSortByTotalVotes()">
            <mat-icon class="sort-icon" >{{ sortByTotalVotesAsc ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
          </button>
        </th>
        
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participation of filteredParticipations">

          <td>{{ participation.status }}</td>
          <td>{{ participation.expirationDate}}</td>
          <td>{{ participation.showtime ? (participation.showtime | date) : '-' }}</td>
          <td>{{ participation.participantCode || '-' }}</td>
          <td>{{ participation.notes || '-'  }}</td>
          <td>{{ participation.totalVotes || '-'}}</td>
          <td>
            <button (click)="editParticipation(participation)">Update</button>
          </td>
          <td>
            <button (click)="deleteParticipation(participation)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>


    <mat-paginator [length]="filteredParticipations.length"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="onPageChange($event)">
  </mat-paginator>
  </div>
</div>
