<!DOCTYPE html>
<html lang="en">
 

<body>

  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container clearfix">
          <div class="sidebar">
            <!-- Content for sidebar goes here -->
            <app-navbarback></app-navbarback>
          </div>
          <div class="backoffice">
            <!-- Content for backoffice layout goes here -->
         
            <div class="text-center">
              <h2>List of Tickets</h2>
            </div>
          
            <div class="container mt-1">
              <div class="row">
                <div class="col-4 text-left">
                  <button class="btn btn-primary" routerLink="/admin/add-ticket">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Ticket
                  </button>
                </div>
              </div>
            </div>
            <div class="container mt-1">
              <table class="table feedback-table" id="table-data">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ticket of tickets">
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.price }}</td>
                    <td>{{ ticket.quantity }}</td>
                    <td>
                   
                      <button [routerLink]="['/admin/updateT', ticket.id_ticket]" class="ml-2"> <!-- Ajoutez la classe "ml-2" pour une marge à gauche -->
                        Update
                      </button>
                      <button class="like-button" (click)="deleteTicket(ticket.id_ticket)">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
         
          </div>
        </div>
      </div>
     
    </div>
  </div>

</body>

</html>