<div class="container"></div>
<form [formGroup]="staffForm"  class="mx-auto w-50 p-4 shadow rounded bg-light">
  <h2>Update Staff</h2>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="job">Job:</label>
    <select id="job" formControlName="job">
      <option *ngFor="let job of jobs" [value]="job">{{job}}</option>
    </select>
  </div>

  <div>
    <label for="DateOfBirth">Date of Birth</label>
    <input type="date" id="DateOfBirth" formControlName="DateOfBirth">
  </div>
  <div>
    <label for="number">Number</label>
    <input type="number" id="number" formControlName="number">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  </div>
 
 

  <div class="row">
   
    <div class="col-md-6 text-right">
        <button routerLink="/admin/liststaff">Back</button>
    </div>
    <div class="col-md-6 text-left">
        <button (click)="updateStaff()">Update</button>
    </div>
  </div>
</form>

