<div class="d-flex justify-content-center">
  <div class="container mt-5">
    <table class="table table-striped">
      <!-- En-têtes du tableau -->
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nom de l'événement</th>
          <th scope="col">Date</th>
          <th scope="col">Lieu</th>
          <th scope="col">Thème</th>
          <th scope="col">Règlements</th>
          <th scope="col">Nombre de compétitions</th>
          <th scope="col">Compteurs de ventes</th>
          <th scope="col">Capacité publique</th>
          <th scope="col">Système sonore</th>
          <th scope="col">Type d'événement</th>
          <th scope="col">Événement pour enfants</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <!-- Corps du tableau -->
      <tbody>
        <tr *ngFor="let event of events">
          <!-- Données de chaque événement -->
          <td>{{ event.name_event }}</td>
          <td>{{ event.date_event | date: 'yyyy-MM-dd' }}</td>
          <td>{{ event.location_event }}</td>
          <td>{{ event.theme_event }}</td>
          <td>{{ event.regulations }}</td>
          <td>{{ event.nb_competitions }}</td>
          <td>{{ event.sales_counters_event }}</td>
          <td>{{ event.public_capacity }}</td>
          <td>{{ event.sound_system_event }}</td>
          <td>{{ event.typeevent }}</td>
          <td>{{ event.kids ? 'Oui' : 'Non' }}</td>
          <!-- Boutons d'action -->
          <td>
            <div class="btn-group" role="group" aria-label="Actions">
              <button [routerLink]="['/event', event.id_event]" class="btn btn-info">Modifier</button>
              <button (click)="deleteEvent(event.id_event)" class="btn btn-info">Supprimer</button>
              <button (click)="displayTimeRemaining(event.id_event)" class="btn btn-info">Temps Restant</button>
              <button (click)="showParticipations(event.id_event)" class="btn btn-info">Afficher Participations</button>
              <button (click)="showAddParticipationDialog(event.id_event)" class="btn btn-info">Ajouter Participation</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
