<div class="container mt-5">
  <h2 class="text-center">Staff List</h2>
  <div class="search-form">
    <input [(ngModel)]="id_staff" placeholder="Staff ID">
    <input [(ngModel)]="name" placeholder="Staff Name">
    <input [(ngModel)]="job" placeholder="Job">
    <button (click)="searchStaff()">Search</button>
  </div>
  <table class="table table-striped mx-auto w-75">
    <thead>
      <tr>
        <th class="sort-button" (click)="sortByID()">ID</th>
<th class="sort-button" (click)="sortByName()">Name</th>

<th class="sort-button" (click)="sortByDateOfBirth()">DateOfBirth</th>


      
        <th>Job</th>
  
        <th>Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList">
        
        <td>{{ staff.id_staff }}</td>
        <td>{{ staff.name }}</td>
        <td>{{ staff.DateOfBirth }}</td>
        <td>{{ staff.job }}</td>
        <td>{{ staff.number }}</td>
        <td>{{ staff.email }}</td>
        <td>
          <button (click)="removeStaff(staff)">Delete</button>
          <button routerLink="/admin/updateStaff/{{staff.id_staff}}">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mt-3">
    <button routerLink="/admin/addstaff">Add Staff</button>
  </div>
 
  <div class="text-center mt-3">
    <button routerLink="/admin/chartstaf">Statistics</button>
<br><br>
<div>  <button (click)="downloadExcel()">Download Excel</button></div>


  </div>
</div>
