.table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .table-container {
    margin-left: 30px; /* Ajustez la valeur selon vos besoins */
  }
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sort-button {
  cursor: pointer;
  
  padding: 10px;
  border-radius: 5px;
}

.sort-button:hover {
  background-color: grey;
}
.btn {
  font-size: 20px; /* Rend le texte du bouton plus grand */
  width: 40px; /* Rend le bouton plus large */
  height: 40px; /* Rend le bouton plus haut */
}
.btn-success {
  background-color: green; /* Rend le bouton d'augmentation vert */
}
.btn-danger {
  background-color: red; /* Rend le bouton de diminution rouge */
}
.centered-table {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.centered-table th,
.centered-table td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.centered-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
