<div class="container mt-5">
  <h2 class="text-center">List of equipments</h2>
  <!-- Dans votre template HTML -->
<div class="search-form">

  <input [(ngModel)]="name_equipment" (ngModelChange)="searchEquipment()" placeholder="Equipment name">
 <!-- Dans votre template HTML -->
<label for="etat">Condition :</label>
<select id="etat" [(ngModel)]="etat" (ngModelChange)="searchEquipment()">
  <option value="">All</option>
  <option *ngFor="let condition of conditions" [value]="condition">{{condition}}</option>
</select>
</div>

  <table class="table table-striped mx-auto w-75 centered-table">
    <thead>
      <tr>
        
        <th class="sort-button" (click)="sortByName()">Equipment name</th>
        <th class="sort-button" (click)="sortByQuantity()">Quantity</th>
        <th>Condition</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of equipments">
       
        <td>{{ equipment.name_equipment }}</td>
        <td>
          
          <button class="btn btn-success" (click)="increaseQuantity(equipment)">+</button>
          <span class="mx-3">{{ equipment.quantity }}</span>
          <button class="btn btn-danger" (click)="decreaseQuantity(equipment)">-</button>
        </td>
        
        <td>{{ equipment.etat }}</td>
       
        <td>
          <button (click)="removeEquipment(equipment)">Delete</button>
          <button class="update-button" routerLink="/admin/updateEquipment/{{equipment.id_equipment}}">Update</button>
      
        
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mt-3">
    <button routerLink="/admin/addequipment">Add new equipment</button>
  </div>

  
  <div class="text-center mt-3">
    <button routerLink="/admin/equipmentchart">Statistics</button>
<BR><BR>
  <div>  <button (click)="downloadExcel()">Download Excel</button></div>

  </div>
  


</div>
