<section class="contact-section section-padding" id="section_6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="text-center mb-4">Vote For Your Favourite Performance</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                <div class="pricing-thumb">
                    
                    <form [formGroup]="voteF" (ngSubmit)="addVote()" class="custom-form contact-form mt-3">
                        <div class="contact-form-body">
                            <div class="form-group">
                                <label for="fullName">Full Name:</label>
                                <input type="text" id="fullName" formControlName="fullName" class="form-control" placeholder="Full name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email address" required>
                            </div>
                            <div class="form-group">
                                <label for="pc">Participation Code:</label>
                                <input type="text" formControlName="pc" class="form-control" placeholder="Participation Code">
                            </div>
                            
                            <div class="col-lg-4 col-md-10 col-8 mx-auto mt-3">
                                <button type="submit" class="form-control btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
  
