<div class="container mt-5">
    <h2 class="text-center">Update vehicule</h2>
    
    <form [formGroup]="vehiculeForm" (ngSubmit)="saveVehicule()" class="mx-auto w-75 p-4 shadow rounded bg-light">
      <div class="form-group">
        <label for="name_vehicule">Vehicule name</label>
        <input type="text" id="name_vehicule" formControlName="name_vehicule" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="matricule">Matricule</label>
        <input type="text" id="matricule" formControlName="matricule" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" id="type" formControlName="type" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="etat">Etat</label>
        <select id="etat" formControlName="etat" class="form-control" required>
          <option value="new">New</option>
          <option value="occasion">Occasion</option>
        </select>
      </div>
      
      <div class="row">
        <div class="col-md-6 text-left">
          <button routerLink="/admin/listvehicule" class="btn btn-secondary mt-2">CANCEL</button>
        </div>
        <div class="col-md-6 text-right">
          <button type="submit" class="btn btn-success">UPDATE</button>
        </div>
      </div>
    </form>
  </div>
  