



<div class="container" ></div>
<form [formGroup]="equipmentForm" class="equipment-form">


  <h2>Update </h2>
  <div>
      <label for="name_equipment">name_equipment</label>
      <input type="text" id="name_equipment" formControlName="name_equipment">
  </div>
  <div>
      <label for="quantity">quantity</label>
      <input type="number" id="quantity" formControlName="quantity">
  </div>
<div>
      <label for="etat">etat</label>
      <input type="text" id="etat" formControlName="etat">
      
  </div>
  <div><button (click)="updateEquipment()">update</button></div>
</form>  
  











  <button routerLink="/admin/listequipment">Retour</button>


   
 
  